h1,
h2,
h3,
h4,
h5{
    color: whitesmoke;
}


body {
    background-image: url(fondo.jpg);
    width: 100%;
}

p{
    color: whitesmoke;
}

.navbar a{
    color: whitesmoke;
}

.navbar a{
    transition: 0.5s;
}

.navbar a:hover{
    color: red;
}


.card-body img{
    transition: 0.2s;
}
.card-body img:hover {
transform: scale(1.1);
}

.card{
    background-color: black;
}

