h1,
h2,
h3,
h4,
h5 {
    color: whitesmoke;
}


body {
    background-image: url(fondo.jpg);
    width: 100%;
    padding-top: 100px;
}


p {
    color: whitesmoke;
}

.navbar a {
    color: whitesmoke;
}

.navbar a {
    transition: 0.5s;
}

.navbar a:hover {
    color: red;
}


.card-body img {
    transition: 0.2s;
}

.card-body img:hover {
    transform: scale(1.1);
}

.card {
    background-color: black;
}

.bi-facebook {
    font-size: 30px;
    color: blue;
    margin: 10px;
}

.bi-instagram {
    font-size: 30px;
    color: rgb(169, 26, 212);
    margin: 10px;
}

.bi-twitter {
    font-size: 30px;
    color: rgb(12, 146, 163);
    margin: 10px;
}

.col-form-label{
    color: whitesmoke;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.897);
    
}